{:lint-as
 {mentat.clerk-utils/->clerk clojure.test/do
  mentat.clerk-utils/->clerk-only clojure.test/do}
 :config-in-call
 {mentat.clerk-utils.show/show-sci
  {:linters
   {:unresolved-symbol {:level :off}
    :unresolved-namespace {:level :off}}}
  mentat.clerk-utils.show/show-cljs
  {:linters
   {:unresolved-symbol {:level :off}
    :unresolved-namespace {:level :off}}}}}
