{:pods {clj-kondo/clj-kondo {:version "2022.12.10"}}
 :tasks
 {:requires ([pod.borkdude.clj-kondo :as clj-kondo])

  dev-notebook
  {:doc "Start a shadow-cljs watch process that generates this project's custom JS."
   :task
   (do (shell "npm install")
       (shell "npm run watch-clerk"))}

  start-clerk
  {:doc "Start a Clerk dev server configured with this project's custom JS."
   :task
   (shell "clojure -X:dev:nextjournal/clerk user/start!")}

  publish-gh-pages
  {:doc "Generate a fresh static build."
   :task
   (do (shell "npm ci")
       (shell "npm run release-clerk")
       (apply shell
              "clojure -X:dev:nextjournal/clerk user/static-build!"
              *command-line-args*)
       (spit "./public/CNAME" "leva.mentat.org")

       ;; This is necessary for folders with underscores to work, like the one
       ;; that Clerk uses to store data for its CAS.
       (spit "./public/.nojekyll" ""))}

  release-gh-pages
  {:doc "Generate a fresh static build and release it to Github Pages."
   :task
   (do (shell "rm -rf public")
       (run 'publish-gh-pages)
       (shell "npm run gh-pages"))}

  publish-local
  {:doc "Generate a fresh static build in the `public` folder and start a local
  webserver."
   :task
   (do (run 'publish-gh-pages)
       (shell "npm run serve"))}

  release
  {:doc "Release the library to Clojars."
   :task (shell "clojure -T:build publish")}

  lint
  {:doc "Lint the src and dev directories with clj-kondo."
   :task (clj-kondo/print!
          (clj-kondo/run! {:lint ["src" "dev"]}))}}}
