{:paths ["src" "resources"]
 :deps {reagent/reagent {:mvn/version "1.1.1"}}

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    org.mentat/clerk-utils    {:mvn/version "0.4.1"}

    io.github.nextjournal/clerk
    {:git/sha "fad499407d979916d21b33cc7e46e73f7a485e37"}
    io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     :git/sha "fad499407d979916d21b33cc7e46e73f7a485e37"
     :deps/root "render"}}
   :exec-fn user/build!}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
