{:deps {:aliases [:dev :nextjournal/clerk]}
 :dev-http {8765 "public"}
 :builds
 {:clerk
  {:target :esm
   :runtime :browser
   :output-dir "public/js"
   :build-options
   {:ns-aliases
    {nextjournal.devcards nextjournal.devcards-noop}}

   :compiler-options
   {:infer-externs :auto
    :optimizations :advanced}
   :modules {:main
             {:entries
              [nextjournal.clerk.static-app
               leva.clerk-ui]}}
   :js-options
   {:output-feature-set :es8}}}}
